.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log
*.md
.vercelignore
vercel.json
scratch/
tests/
phpunit.xml
.prettierrc
.prettierignore
.editorconfig
eslint.config.js
